@model IEnumerable<Category>


<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        
        @foreach(var item in Model)
        {
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">

                    <a href="" class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid w-100 h-100" src="@item.Image" alt="@item.Name">
                    </a>
                </div>
            </div>
        }
    </div>
</div>